<html>
    <head>
      {% if title %}
      <title>{{ title }} - Currency Converter</title>
      {% else %}
      <title>Welcome to Currency Converter</title>
      {% endif %}
    </head>
    <body style="text-align:center; background-color:rgb(255, 255, 240)">
        <div>Currency Converter:
            <a href="/currency_converter/home">Home</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </body>
</html>